---
const { tag } = Astro.props;
---

<span
    class="px-4 py-1 rounded-full text-sm font-medium text-zinc-600 dark:text-neutral-300 hover:text-blacktext bg-pink-50 dark:bg-purple-900/30 hover:bg-pink-100 dark:hover:bg-purple-800/50 cursor-default transition-all ease-in-out duration-300"
>
{tag}
</span>
